<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>Registration Form</title>
</head>
<body>
<ul class="nav justify-content-center" style="margin-left: 30%; margin-right: 30%; margin-top: 20px">
  <li class="nav-item">
    <a class="nav-link active" href="/roomDetails">Book Room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/addOrEdit">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registration">Signup</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Profile</a>
  </li>
</ul>
<form style="margin-left: 40%; margin-right: 40%; margin-top: 10%">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Username</label>
    <input type="text" class="form-control" id="Uname" placeholder="Enter Your Name">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Phone Number</label>
    <input type="number" class="form-control" id="num" placeholder="Enter Your Number">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Tamil Nadu</option>
        <option>Karnataka</option>
        <option>Kerala</option>
        <option>Others</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Sign in</button> <a href="/addOrEdit">Login</a>
</form>
</body>
</html>